/* Link Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Prompt:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Set Default */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */    
}
/* Navbar menu */
nav
{
    position: fixed;
    height: 55px;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: center;
    padding: 0 40px;
    transition: 0.2s;
    z-index: 9999;
}
/* Logo */
.logo
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logoImg
{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
}
.logoImg img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logoText
{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    letter-spacing: .1em;
    font-weight: 600;
    color: #333;
}

/* Menu */
ul
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-content: center;
    text-align: right; 
}
ul li
{
    list-style: none;
    width: 100%;
}
ul li a
{
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 500;
    color: #333;   
}
ul li a:hover{
    color: green;
}

/* Respontsive Nav*/
@media (max-width: 768px) {
    nav
    {
        position: fixed;
        padding: 0 20px;               
    }
    nav .toggle
    {
        content: url('https://api.iconify.design/iconamoon/menu-burger-horizontal.svg?color=%23333&width=35&height=35');
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        cursor: pointer;
    }
    nav .awal{
        position: absolute;
        right: 20px;
        bottom: -195px;
        width: 150px;
        height: 180px;
        background-color: #f8f8f8;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(5, 1fr);
        text-align: left;
        opacity: 0;     
        visibility: hidden;
        transition: 0.5s;         
    }    
    nav .awal::before
    {
        position: absolute;
        content: ' ';
        background: #f8f8f8;
        width: 15px;
        height: 15px;
        top: -7px;
        right: 20px;
        transform: rotate(45deg);
        z-index: -1;
    }
    nav .awal.active
    {
        opacity: 1;
        visibility: visible;
        transition: 0.5s;
    }
    nav .awal li
    {
        display: flex;        
        height: 100%;
    }
    nav .awal li a
    {
        padding: 0 10px;
        line-height: 36px;
        width: 100%;
        height: 100%;
    }
    nav .awal li a:hover
    {
        background-color: #f0f0f0;
    }
}

/* Beranda */
.beranda
{
    position: relative;
    padding: 55px 40px 0 40px;
    min-height: 500px;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.beranda .boxDes
{
    position: relative;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.beranda .boxDes h2
{
    font-family: 'Prompt', sans-serif;
    font-size: 52px;
    font-weight: 500;
    line-height: 58px;
    color: #333;
    text-transform: uppercase;
}
.beranda .boxDes p
{
    font-size: .9em;
    font-weight: 400;
    letter-spacing: .1em;
    color: #333;
    
}
.benerSatu 
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Respontsive */
@media (max-width: 768px){
    .beranda
    {
        grid-template-columns: none;
        padding: 75px 20px 0 20px;
        width: 100%;        
    }
    .benerSatu img
    {
        width: 90%;
        margin: auto;
    }
    .beranda .boxDes
    {
        gap: 20px;
    }
    .beranda .boxDes h2
    {
        font-size: 2.5em;
        line-height: 1.3em;        
    }
    .beranda .boxDes p
    {
        text-align: center;
        font-size: .8em;
        text-align: justify;
    }
}

/* Kegiatan */
.kegiatan
{
    position: relative;
    min-height: 500px;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fafaf9;
    gap: 30px;
}
.kegiatan .ketKg
{
    position: relative;
    text-align: center;
    max-width: 600px;
    display: grid;
    gap: 8px;
}
.kegiatan .ketKg .judulKg
{
    font-family: 'Prompt', sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: #333;
}
.kegiatan .ketKg p
{
    font-size: .8em;
    font-weight: 400;
    color: #333;
}
.cartKg
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); */
    gap: 30px;
}
.cartKg .cart
{
    position: relative;  
    max-width: 500px;
    display: flex;  
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 26px;
    box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, .1);
    gap: 8px;
}
.cartKg .cart .boxKg
{
    position: relative;
    width: 200px;
    height: 150px;
    background-color: #f0f0f0;
    border-radius: 16px;
    overflow: hidden;
}
.cartKg .cart .boxKg img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ketCt
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
}
.ketCt h4
{
    font-size: 1.3em;
    font-weight: 700;
    color: #333;
}
.ketCt p
{
    font-size: .8em;
    font-weight: 400;
    color: #333;
}
.ketCt .info
{
    color: green;
}

/* respontsive */
@media (max-width: 768px){
    .kegiatan
    {
        padding: 40px 20px;
    }
    .cartKg
    {
        display: grid;
        gap: 10px;
    }
    .cartKg .cart
    {
        max-width: 100%;
    }
    .cartKg .cart .boxKg
    {
        width: 200px;
    }
}